{#
  This file is part of the EmharSonataChildAdminBundle bundle.

  (c) Emmanuel Harleaux

  This source file is subject to the MIT license that is bundled
  with this source code in the file LICENSE.
#}

{% extends '@SonataDoctrineORMAdmin/Form/form_admin_fields.html.twig' %}

{% block sonata_type_model_list_widget %}
    {% set urlParams = {} %}
    {% set adminCode =  sonata_admin.field_description.associationadmin.code %}
    {% if sonata_admin.field_description.associationadmin.isChild %}
        {% set urlParams = {id: sonata_admin.field_description.associationadmin.parent.id(sonata_admin.field_description.associationadmin.parent.subject)} %}
        {% set adminCode =  sonata_admin.field_description.associationadmin.parent.code~'|'~sonata_admin.field_description.associationadmin.code %}
    {% endif %}
    <div id="field_container_{{ id }}" class="field-container">
        <span id="field_widget_{{ id }}" class="field-short-description">
            {% if sonata_admin.field_description.associationadmin.id(sonata_admin.value) %}
                {{ render(path('sonata_admin_short_object_information', {
                    'code':     adminCode,
                    'objectId': sonata_admin.field_description.associationadmin.id(sonata_admin.value),
                    'parentId': sonata_admin.field_description.associationadmin.parent ? sonata_admin.field_description.associationadmin.parent.subject.id : null,
                    'uniqid':   sonata_admin.field_description.associationadmin.uniqid,
                    'linkParameters': sonata_admin.field_description.options.link_parameters
                })) }}
            {% elseif sonata_admin.field_description.options.placeholder is defined and sonata_admin.field_description.options.placeholder %}
                <span class="inner-field-short-description">
                    {{ sonata_admin.field_description.options.placeholder|trans({}, 'SonataAdminBundle') }}
                </span>
            {% endif %}
        </span>

        {% if not disabled %}
            <span id="field_actions_{{ id }}" class="field-actions">
            <span class="btn-group">
                {% if sonata_admin.field_description.associationadmin.hasroute('list') and sonata_admin.field_description.associationadmin.isGranted('LIST') and btn_list %}
                    <a href="{{ sonata_admin.field_description.associationadmin.generateUrl('list', urlParams) }}"
                       onclick="return start_field_dialog_form_list_{{ id }}(this);"
                       class="btn btn-info btn-sm sonata-ba-action"
                       title="{{ btn_list|trans({}, btn_catalogue) }}"
                    >
                        <i class="fa fa-list"></i>
                        {{ btn_list|trans({}, btn_catalogue) }}
                    </a>
                {% endif %}

                {% if sonata_admin.field_description.associationadmin.hasroute('create') and sonata_admin.field_description.associationadmin.isGranted('CREATE') and btn_add %}
                    <a href="{{ sonata_admin.field_description.associationadmin.generateUrl('create', urlParams) }}"
                       onclick="return start_field_dialog_form_add_{{ id }}(this);"
                       class="btn btn-success btn-sm sonata-ba-action"
                       title="{{ btn_add|trans({}, btn_catalogue) }}"
                    >
                        <i class="fa fa-plus-circle"></i>
                        {{ btn_add|trans({}, btn_catalogue) }}
                    </a>
                {% endif %}
            </span>
            <span class="btn-group">
                {% if sonata_admin.field_description.associationadmin.hasRoute('delete') and sonata_admin.field_description.associationadmin.isGranted('DELETE') and btn_delete %}
                    <a href=""
                       onclick="return remove_selected_element_{{ id }}(this);"
                       class="btn btn-danger btn-sm sonata-ba-action"
                       title="{{ btn_delete|trans({}, btn_catalogue) }}"
                    >
                        <i class="fa fa-minus-circle"></i>
                        {{ btn_delete|trans({}, btn_catalogue) }}
                    </a>
                {% endif %}
            </span>
        </span>
        {% endif %}

        <span style="display: none">
            {# Hidden text input cannot be required, because browser will throw error "An invalid form control with name='' is not focusable"  #}
            {{ form_widget(form, {'required':false, disabled: disabled}) }}
        </span>

        {{ block('sonata_help') }}

        <div class="modal fade" id="field_dialog_{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'SonataDoctrineORMAdminBundle:CRUD:edit_orm_many_association_script.html.twig' %}
{% endblock %}